@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 80%;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 5px 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul{
  list-style: none;
  /* border: 1px solid black; */
}

/* li {
  border: 1px solid black;
  
} */

a {
  text-decoration: none;
  color: #6E6E6E;
}

.header {
  display:flex;
  justify-content: space-between;
  padding: 10px;
}

.left-links, .right-links {
  display: flex;
  gap: 10px;
  /* border: 1px solid black; */
  margin: 5px 5px;
  padding: 0;
  
}

/* .left-links {

} */

.wrapper {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  /* align-items: center; */
}

.content {
  border: 0.5px solid rgb(224, 217, 217);
  margin: 20px;
  padding: 20px;
  border-radius: 16px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
  padding: 10px;
}